/* Admin.css */

/* Container with a light transparent background */
.passw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent; /* Fully transparent background */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

/* Form styling with joint input-button */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-input-container {
  position: relative;
}

input[type="password"], .password-input-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
  font-size: 14px;
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

button {
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

/* button:hover {
  background-color: #0056b3;
} */

/* Success container with a semi-transparent background */
.success {
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007bff;
  margin-bottom: 10px;
}

p {
  margin: 15px 0;
}

input[type="file"] {
  margin-top: 15px;
}